[submodule "L07/L07"]
	path = L07/L07
	url = git@github.com:Gleamingforest/L07.git
[submodule "activity-1"]
	path = activity-1
	url = https://github.com/Gleamingforest/activity-1
[submodule "L08/activity2"]
	path = L08/activity2
	url = https://github.com/Gleamingforest/activity2
[submodule "L08/activity-1"]
	path = L08/activity-1
	url = https://github.com/Gleamingforest/activity-1
[submodule "L08/CS1XC3_L08_P3"]
	path = L08/CS1XC3_L08_P3
	url = https://github.com/Gleamingforest/CS1XC3_L08_P3
